{% include 'admin/header.html' %}
{% block body %}
    <main>
    <section class="content">
          <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">// Edit Announcements </h1></div>
    <div class="container">
        <div class="custom-responsive">
            <table class="centered striped hover">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>Active?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in announcements %}
                  <tr>
                      <td>{{row.1}}</td>
                      <td>{{row.3}}</td>
                      <td>{{row.2}}</td>
                      {% if row[4] == 1 %}

                            <td><i class="material-icons">check</i></td>
                            <td>
                                <div class="btn red">
                                  <a href="/removeann/{{ row.0 }}" style="color: #fff;" onclick="return confirm('Are You Sure For Delete?')">Revoke</a>

                                </div>
                            </td>

                        {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </section>
    </main>
{% endblock %}
        <!-- So this is basically a hack, until I come up with a better solution. autocomplete is overridden
        in the materialize js file & I don't want that.
        -->
        <!-- Yo dawg, I heard you like hacks. So I hacked your hack. (moved the sidenav js up so it actually works) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script>
        // Hide sideNav
        $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
          });
          $(document).ready(function(){
          $('.tooltipped').tooltip({delay: 50});
          });
          $('select').material_select();
          $('.collapsible').collapsible();
          </script>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
        {% include 'admin/footer.html' %}
