{% include 'user/header.html' %}
{% block body %}
    <script type="text/javascript">
        function GetDays(){
                var dropdt = new Date(document.getElementById("drop_date").value);
                var pickdt = new Date(document.getElementById("pick_date").value);
                return parseInt((dropdt - pickdt) / (24 * 3600 * 1000))+1;
        }

        function cal(){
        if(document.getElementById("drop_date")){
		var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("datef")[0].setAttribute('min', today);
	document.getElementsByName("datet")[0].setAttribute('min', today);
            document.getElementById("numdays2").value=GetDays();
        }  
    }

    </script>
  <main>
  <section class="content">
    <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">// Apply for a hall </h1></div>
    <div class="container">
      <h3>New Application</h3>
      <br>
        <form action="{{ url_for('insert') }}" method="POST">


           <div class="form-group">


              <label>Name</label>

              <input type="text" class="form-control" name="name" value="{{session.username}}" disabled>


           </div>



           <div class="form-group">


              <label>Date From</label>

              <input type="date" placeholder="2018-09-01" name="datef" id="pick_date"  onclick="cal()" required>


           </div>


           <div class="form-group">


              <label>Date To</label>

              <input type="date" placeholder="2018-09-02" name="datet" id="drop_date"  onchange="cal()" required>


           </div>

	<div id="numdays"><label class="form">Number of days:</label><input type="text" class="textbox" id="numdays2" name="numdays" disabled/></div>

           <div class="form-group">


              <label>Email</label>

              <input type="text" class="form-control" name="email" value="{{session.email}}" disabled>


           </div>


           <div class="form-group">


              <label>Phone</label>

              <input type="text" class="form-control" name="phone" value="{{session.phone}}" disabled>


           </div>

	
           <div class="row" >
               <label>Hall</label>
{% for row in result %}
            <p>
              <input type="radio" name="hall" value="{{row.0}}" id="{{row.0}}"/>
              <label for="{{row.0}}">{{row.1}}</label>
            </p>
{% endfor %}
          </div>


           <div class="form-group">


              <label>Purpose</label>

              <input type="text" class="form-control" name="comment" required>


           </div>



           <div class="form-group">


              <button class="btn btn-primary" type="sbumit">Apply</button>


           </div>


        </form>
  </section>
  </main>

        <!-- So this is basically a hack, until I come up with a better solution. autocomplete is overridden
        in the materialize js file & I don't want that.
        -->
        <!-- Yo dawg, I heard you like hacks. So I hacked your hack. (moved the sidenav js up so it actually works) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script>
        // Hide sideNav
        $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
          });
          $(document).ready(function(){
          $('.tooltipped').tooltip({delay: 50});
          });
          $('select').material_select();
          $('.collapsible').collapsible();
          </script>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  {% endblock %}
{% include 'user/footer.html' %}
