{% include 'user/header.html' %}
{% block body %}
<script>
function getDate(){
var today = new Date().toISOString().split('T')[0];
document.getElementsByName("datef")[0].setAttribute('min', today);
document.getElementsByName("datef")[0].setAttribute('max', today);

}
</script>
<main>
    <section class="content">
      <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">// Feedback </h1></div>
<div class="container">
      <h3>We <i class="material-icons pink-item">favorite</i> your Feedbacks</h3>

<br>
        <form action="{{ url_for('submit') }}" method="POST">


           <div class="form-group">


              <label>Name</label>

              <input type="text" class="form-control" name="name" value="{{session.username}}" disabled>


           </div>



           <div class="form-group">


              <label>Date</label>
              <input type="date" onclick="getDate()" name="datef" id="date" required>


           </div>


           <div class="row" >
               <label>Hall</label>
{% for row in result %}
            <p>
              <input type="radio" name="hall" value="{{row.0}}" id="{{row.0}}"/>
              <label for="{{row.0}}">{{row.1}}</label>
            </p>
{% endfor %}
          </div>


           <div class="form-group">


              <label>Email</label>

              <input type="text" class="form-control" name="email" value="{{session.email}}" disabled>


           </div>


           <div class="form-group">


              <label>Phone</label>

              <input type="text" class="form-control" name="phone" value="{{session.phone}}" disabled>


           </div>

	<div class="form-group">


              <label>Feedback</label>

              <input type="text" class="form-control" name="feedback" required>


           </div>

	<div class="form-group">


              <button class="btn btn-primary" type="sbumit">Submit</button>


           </div>


        </form>
</section>
  </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script>
        // Hide sideNav
        $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
          });
          $(document).ready(function(){
          $('.tooltipped').tooltip({delay: 50});
          });
          $('select').material_select();
          $('.collapsible').collapsible();
          </script>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  {% endblock %}
{% include 'user/footer.html' %}



